body {
    font-family: "Nunito", sans-serif;
}

.navbar {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.contact-form {
  width: 75%;
}

.contact-form textarea {
  resize: none;
  height: 15rem;
}

.user-features-mobile {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .contact-form {
    width: 100%;
  }
  .user-features {
    display: none;
  }
  .user-features-mobile {
    display: block;
  }
}